body {
  margin: 0px;
  background-color: lightgrey;
  font-family: cambria, garamond, serif;
}

h1 {
  text-align: center;
}

nav > div {
  text-align: center;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
