:root {
  /* These are hex codes for a blue monochromatic pallet */
  --text-color: #03045E; /* Dark Blue */
  --line-color: #0077B6; /* Mid Blue */
  --background-color: #CAF0F8; /* Pale Blue */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: cambria, garamond, serif;
  margin: 0;
  max-width: 100vw;
  padding-bottom: 15px;
}

h1, h2 {
  text-align: center;
}

nav {
  margin: 0 auto;
  min-width: 600px;
  max-width: 50%;
}

nav div {
  margin-bottom: 10px;
  text-align: center;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 8px;
}

ol > li {
  margin: auto;
  margin-bottom: 16px;
  width: 80%;
}

img {
  border-radius: 10px;
  object-fit: scale-down;
  width: 100%;
}

.recipe-preview img {
  border-radius: 10px;
  margin-top: 20px;
  width: 300px;
}

.recipe-preview {
  border: solid 2px var(--line-color);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 10px 20px;
  width: 60%;
}

.recipe-card {
  border-bottom: dashed 2px var(--line-color);
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .recipe-card {
    margin: 0 auto;
    max-width: 50%;
    min-width: 600px;
  }
}

.recipe-summary {
  border-bottom: dashed 2px var(--line-color);
  padding: 10px;
}
